<% if (theme.duoshuo_shortname && page.comments){ %>
<section id="comments" class="comment">
	<div class="ds-thread" data-thread-key="<%- page.path %>" data-title="<%- page.title %>" data-url="<%- page.permalink %>"></div>
</section>
<% } %>
<% if( (config.disqus_shortname || theme.disqus_shortname) && page.comments) { %>
<section id="comments" class="comment">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<% } %>
<% if(((config.git_comment && config.git_comment.enable === true) || ( theme.git_comment && theme.git_comment.enable === true)) && page.comments) { %>
<section id="comments" class="comment">
  <div id="container"></div>
  <link rel="stylesheet" href="https://billts.site/extra_css/gitment.css">
  <script src="https://billts.site/js/gitment.js"></script>
  <script>
    var gitment = new Gitment({
      id: "<%- page.date %>",
      title: '<%= page.title %>',
      owner: "<%- theme.git_comment.owner %>",
      repo: "<%- theme.git_comment.repo %>",
      oauth: {
        client_id: "<%- theme.git_comment.client_id %>",
        client_secret: "<%- theme.git_comment.client_secret %>"
      }
    });

    gitment.render('article-comment');
  </script>
</section>
<% } %>